body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    background-color: #f0f0f0;
    background-image: url('Design\ sem\ nome_20260505_205027_0000.png'); /* caminho da imagem */
    background-size: cover; /* cobre toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete */
    height: 100vh; /* altura total da tela */
    margin: 0;

    h1 {
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
        background: rgba(0,0,0,0.4);
        padding: 15px 25px;
        border-radius: 10px;
        display: inline-block;
    }

    h2 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
        background: rgba(0,0,0,0.4);
        padding: 15px 25px;
        border-radius: 10px;
        display: inline-block;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url('20260505_213140_0000.png');
    }
}
